{% extends "layout.html" %}
{% block title %}Alumnos{% endblock %}
{% block content %}
<div class="d-flex justify-content-between mb-3">
  <h2>Alumnos</h2>
  <a href="{{ url_for('alumnos_new') }}" class="btn btn-success">Nuevo Alumno</a>
</div>
<table class="table table-bordered">
  <thead class="table-dark">
    <tr><th>No. Control</th><th>Nombre</th><th>Área</th><th>Profesor</th><th>Acciones</th></tr>
  </thead>
  <tbody>
    {% for a in alumnos %}
    <tr>
      <td>{{ a.No_Control }}</td>
      <td>{{ a.nombre }}</td>
      <td>{{ a.area }}</td>
      <td>{{ a.profesor }}</td>
      <td>
        <a href="{{ url_for('alumnos_edit', No_Control=a.No_Control) }}" class="btn btn-sm btn-warning">Editar</a>
        <a href="{{ url_for('alumnos_delete', No_Control=a.No_Control) }}" class="btn btn-sm btn-danger"
           onclick="return confirm('¿Eliminar alumno?');">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
