{% extends "layout.html" %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}
  <h2>{{ titulo }}</h2>
  <table class="table">
    <thead>
      <tr><th>No. Control</th><th>Nombre</th><th>Acción</th></tr>
    </thead>
    <tbody>
      {% for a in alumnos %}
      <tr>
        <td>{{ a.No_Control }}</td>
        <td>{{ a.Apellido_Paterno }} {{ a.Apellido_Materno }}, {{ a.Nombre }}</td>
        <td>
          {% if ruta_base=='generar_bimestral' %}
            <div class="btn-group">
              {% for b in [1,2,3] %}
                <a href="{{ url_for(ruta_base, bimestre=b, no_control=a.No_Control) }}"
                   class="btn btn-sm btn-primary">Bim.{{ b }}</a>
              {% endfor %}
            </div>
          {% else %}
            <a href="{{ url_for(ruta_base, no_control=a.No_Control) }}"
               class="btn btn-sm btn-success">
              {{ titulo.split()[-1] }}
            </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
